* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container .form {
  width: 400px;
}

.submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
